@import './mixins';

:root{
    --color-lime:#D9FF5A;
    --color-lavender:#AE97E8;
    --color-light-lavender:#C5B0FAB2;
    --color-white:#FFFFFF;
    --color-gray:#DAD1F2;
    --color-delete:#9381D8;
    --color-blue:#AECFFF;
    --color-light-blue:#C8DEFF;
    --color-pink:#FA8FEF;
    --color-light-purple:#CBB6FF;
    --color-light-purple-transparent:#CBB6FF99;
    --color-dark-white:#D9D9D9;
    --color-purple-transparent:#33206540;
    --color-white-transparent:#FFFFFF30;
    --color-white-transparent-60: #FFFFFF99;

    --color-white-transparent-2:#ffffff5e;
    --color-error: #e64040;

    --border-2: 2px solid;
    --border-3: 3px solid;

    --border-radius-slide:50px;
    --border-radius-modal-mobile:20px;
    --border-radius-circle:50%;

    --border-radius-modal:30px;
    @include tablet {
        --border-radius-modal:20px;
    }

    --font-family-base:'Euclid Circular A', sans-serif;

    --section-padding-y:170px;
    --section-padding-y-mobile:120px;

    --container-width:1920px;

    --container-padding-x:0px;
    --container-padding-x-mobile:15px;
    --container-padding-x-small:20px;
    --container-padding-x-medium:60px;

    --navbar-height:48px;
    --navbar-height-mobile:40px;
    --navbar-padding-top:42px;
    --navbar-padding-left:60px;
    --navbar-padding-right:104px;
    --navbar-padding-top-mobile:25px;
    --navbar-padding-inline-mobile:15px;

    --input-height:35px;

    --rotation-disadvantage-7: -7deg;
    --rotation-2: 2deg;
    --rotation-6: 6deg;
    --rotation-13: 13deg;
    --rotation-default: 15deg;
    --rotation-23: 23deg;

    --transition-duration: 0.25s;

    --styled-modal-padding: 60px;
    @include tablet {
        --styled-modal-padding: 14px;
    }

}