@import '../../styles/style.scss';

.categories{

    &__title{
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;

        @include tablet{
            text-align: start;
            font-size: 23px;
        }
    }
}