@import '../../styles/style.scss';

.categories{
    
    &__cards{

        cursor:pointer;
        touch-action: pan-x;
    
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    
        scrollbar-width: none;
    
        &::-webkit-scrollbar {
            display: none;
        }
        &::-webkit-scrollbar-thumb {
            display: none;
        }
        &:-webkit-scrollbar-track {    
        display: none;
        }

        &-card{
            display: inline-block;
            scroll-snap-align: start;
        
            width: 420px;
            height: 550px;
            margin-inline: 15px;
        
            @include tablet{
                width: 240px;
                height: 315px;
                margin-inline: 15px;
            }
        }

    }

    .products{

        &--section{
            padding-top: 50px;
        }

        &__header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 77px;

            transition: all 0.3s ease-in-out;
            opacity: 0;
            height: 0;
    
            &.show{
                height: 100px;
                opacity: 1;
            }

            &-filters{
                @include reset-button;

                display: flex;
                gap: 11px;

                &-icon{

                }

                &-text{
                    color: var(--color-white);
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }

            &-info{

                &-text{
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }
        }

        &__body{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 107px;
    
        }

        .load-more{
            margin-top: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .products-container{
        opacity: 0;
        transform: scale(0);
        height: 0;

        transition:all ease 0.5s;
      
        &.show {
            opacity: 1;
            transform: scale(1);
            height: auto;
        }
       
    }
   

    &__title{
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 70px;
        letter-spacing: 0.5px;

        @include tablet{
            padding-bottom: 35px;
        }

        @include tablet{
            text-align: start;
            font-size: 23px;
        }
    }
}

.main-divider{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 260px;

    &::before{
        content: '';
        position: absolute;
        width: 120%;
        height: 72px;
        background: url('/images/creating-a-great-art.png') no-repeat center;
        background-color: var(--color-light-purple);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        rotate: 5deg;
    }

    &::after{
        content: '';
        position: absolute;
        width: 120%;
        height: 72px;
        background: url('/images/creating-a-great-art.png') no-repeat center;
        background-color: var(--color-blue);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        rotate: -2.2deg;
    }

}

.modal-title{
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Euclid Circular A';
    padding-bottom: 40px;
    letter-spacing: 1px;
}

.modal-products{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 40px;
}

.blogs-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;

    &.padding-top-section{
        padding-top: 170px;

        @include tablet{
            padding-top: 50px !important;
        }
    }

    @include tablet{
        padding-bottom: 5px;
    }

    &__left{
        display: flex;
        gap: 45px;

        @include tablet{
            gap: 20px;
        }

        .navigation{
            display: flex;
            align-items: center;
            gap: 7px;

            &__dot{ 
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #FFFFFF4D;

                &.active{
                    background-color: var(--color-white);
                }
            }
        }

        &-text{
            font-family: 'Euclid Circular A';
            font-size: 60px;
            font-weight: 500;
            line-height: 1;
            text-align: left;
            text-transform: uppercase;

            @include tablet{
                font-size: 23px;
            }
        }
    }

    &__right{
        display: flex;
        align-items: center;
        gap: 27px;

        @include tablet{
            gap: 20px;
        }

        &__digit{
            font-family: 'Floreste';
            font-size: 40px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.04em;
            text-align: left;

            @include tablet{
                font-size: 25px;
            }
        }

        &__divider{
            width: 63px;
            height: 2px;
            background-color: var(--color-light-purple);
            margin-bottom: 5px;

            @include tablet{
                height: 1px;
                width: 36px;
                margin-bottom: 3px
            }
        }
    }
}

.blog-container {

    &--section{
        margin-inline: 60px;
        @include tablet{
            margin-inline: 15px;
        }
    }

    touch-action: pan-x;

    cursor: pointer;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        display: none;
    }
    &:-webkit-scrollbar-track {    
    display: none;
    }
}
  
.blog {
    display: inline-block;
    scroll-snap-align: start;

    width: 580px;
    height: 420px; //342
    padding-top: 30px;
    margin-inline: 15px;

    @include tablet{
        width: 360px;
        height: 315px;
    }

}

.main-footer{

    &--section{
        margin-top: 170px;

        @include tablet{
            margin-top: 120px;
            padding-bottom: 55px;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 129px;

    &__left{
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.02em;
        text-align: left;

        @include tablet{
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
        }
    }

    &__right{
        font-size: 18px;
        font-weight: 400;
        line-height: 21.19px;
        letter-spacing: 0.02em;
        text-align: right;
    }
}