@import '../../../styles/style.scss';

.cart-card{
    display: flex;
    // width: 400px;
    gap:30px;

    min-width: 300px;

    animation: appear 0.4s ease-in-out;
 // max-width: 400px;

    @keyframes appear {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

    .img-container{
        width: 100px;
        display: grid;
        place-items: center;

        &__img{
            width: 100%;
            object-fit: contain;
        }
    }

    .info-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:20px; //25
        // align-items: center;
        // justify-content: center;

        .body{
            padding-bottom: 19px;
            border-bottom: var(--border-2) var(--color-lime);
            display: flex;
            justify-content: space-between;
            // flex-direction: column;
            // gap: 13px;

            @include tablet{
                padding-bottom: 15px;
            }

            &__info{
                display: flex;
                flex-direction: column;
                gap: 13px;

                &-name{
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    gap: 10px;
    
                    &-color{
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        border: 3px solid var(--color-white)
                    }
    
                    &-text{
                        font-size: 15px;
                        font-family: "Euclid Circular A";
                        text-transform: uppercase;
                    }
    
                }

                &-description{
                    font-size: 13px;
                    font-family: "Euclid Circular A";
                    font-weight: 400;
                }
            }

            &__delete{
                display: flex;
                align-items: center;

                &-btn{
                    @include reset-button;
                    cursor: pointer;

                    @include hover{
                        filter: invert(0.15);
                    }
                }
            }

        }

        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__price{
                font-size: 25px;
                font-family: 'Floreste';

                &-rub{
                    position: relative;
                    left: 5px;
                    bottom: 8px;
                    font-size: 13px;
                    font-family: 'Euclid Circular A';
                    font-weight: 400
                }
            }

            &__quantity{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                &-btn{
                    @include reset-button;
                    cursor: pointer;

                    &[disabled]{
                        cursor: default;
                        opacity: 0.5;
                    }

                    &--minus{
                       
                    }

                    &--plus{
                        
                    }

                    &-icon{

                    }
                }


                &-number{
                    font-size: 18px;
                    font-family: 'Euclid Circular A';
                }
            }
        }

    }
}